<launch>
    <include file="$(find youbot_common)/launch/youbot_wrapper.launch" />
    <include file="$(find usb_cam)/launch/usb_cam.launch" />
    <include file="$(find youbot_launch)/launch/status_publisher.launch" />
    <include file="$(find youbot_hokuyo_node)/launch/hokuyo_node.launch" />
    <include file="$(find youbot_launch)/launch/moveit.launch" />
</launch>
